
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

@model BTL_TMDT.Models.Product
@{
    ViewBag.Title = "Xem chi tiết sản phẩm";
}

@{ var imageList = Model.Product_Images.ToList(); }


<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Tất cả danh mục</a></li>
                    <li><a href="#">@Model.Category.category_name</a></li>
                    <li class="active">@Model.product_name</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="~/wwwroot/img/@imageList[0].image_url" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/wwwroot/img/@imageList[1].image_url" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/wwwroot/img/@imageList[2].image_url" alt="">
                    </div>

                </div>
            </div>
            <!-- /Product main img -->
            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    <div class="product-preview">
                        <img src="~/wwwroot/img/@imageList[0].image_url" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/wwwroot/img/@imageList[1].image_url" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/wwwroot/img/@imageList[2].image_url" alt="">
                    </div>

                </div>
            </div>
            <!-- /Product thumb imgs -->
            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">@Model.product_name</h2>
                    <div>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        @*<a class="review-link" href="#">10 Review(s) | Add your review</a>*@
                    </div>
                    <div>
                        <h3 class="product-price">
                            @String.Format("{0:C}", Model.discount_price.Value)
                            <del class="product-old-price">@String.Format("{0:C}", Model.price)</del>
                        </h3>
                        <span class="product-available">Kho: @Model.stock</span>
                    </div>
                    <p>
                        @Model.description
                    </p>


                    @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                    {
                        <div class="add-to-cart">
                            <div class="qty-label">
                                Số lượng:
                                <div class="input-number">
                                    <input type="hidden" name="productId" value="@Model.product_id" />
                                    <input type="number" name="quantity" value="1" min="1" max="@Model.stock" />
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                            </div>

                            <button type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</button>
                        </div>
                    }



                    <ul class="product-btns">
                        <li><a href="#"><i class="fa fa-heart-o"></i> Thêm vào yêu thích</a></li>
                        @*<li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>*@
                    </ul>

                    <ul class="product-links">
                        <li>Danh mục:</li>
                        <li>
                            <a href="@Url.Action("ProductsByCategory", "Product", new { categoryId = @Model.Category.category_id })">@Model.Category.category_name</a>
                        </li>
                    </ul>

                    <ul class="product-links">
                        <li>Chia sẻ:</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
            <!-- /Product details -->
            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Mô tả</a></li>
                        <li><a data-toggle="tab" href="#tab2">Chi tiết</a></li>
                        @*<li><a data-toggle="tab" href="#tab3">Reviews (3)</a></li>*@
                    </ul>
                    <!-- /product tab nav -->
                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        @Model.description
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->
                        <!-- tab2  -->
                        <div id="tab2" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        @Model.description
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab2  -->
                        <!-- /product tab content  -->
                    </div>
                </div>
                <!-- /product tab -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- Section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h3 class="title">Sản phẩm liên quan</h3>
                    </div>
                </div>

                <!-- product -->
                @foreach (var product in ViewBag.RelatedProducts as IEnumerable<BTL_TMDT.Models.Product>)
                {
                    <div class="col-md-3 col-xs-6">
                        @Html.Partial("_Product", product)
                    </div>
                }
                <!-- /product -->



            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /Section -->
