
@model IEnumerable<BTL_TMDT.Models.Product>

@{
    ViewBag.Title = "ProductsByCategory";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="col-md-12">
    <div class="row">
        <div class="products-tabs">
            <!-- tab -->
            <div id="tab1" class="tab-pane active">
                <div class="products-slick" data-nav="#slick-nav-1">

                </div>
                <div id="slick-nav-1" class="products-slick-nav"></div>
            </div>
            <!-- /tab -->
        </div>
    </div>
</div>



<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                    <li><a href="@Url.Action("Categories", "Product")">Danh mục sản phẩm</a></li>
                    <li><a href="#">Accessories</a></li>
                    <li class="active">Headphones (227,490 Results)</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <form action="@Url.Action("Search", "Product")" method="get">

                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Danh mục sản phẩm</h3>
                        <div class="checkbox-filter">
                            @foreach (var category in ViewBag.Categories)
                            {
                                var selectedCategories = ((int[])ViewBag.SelectedCategories).ToList();
                                <div class="input-checkbox">
                                    <input type="checkbox" name="selectedCategories" value="@category.category_id"
                                           id="category-@category.category_id"
                                           @(selectedCategories.Contains(category.category_id) ? "checked" : "") />
                                    <label for="category-@category.category_id">
                                        <span></span>
                                        @category.category_name
                                        <small>23</small>
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- /aside Widget -->
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Giá</h3>
                        <div class="price-filter">
                            <div id="price-slider"></div>
                            <div class="input-number price-min">
                                <input id="price-min" type="number" name="minPrice">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                            <span>-</span>
                            <div class="input-number price-max">
                                <input id="price-max" type="number" name="maxPrice">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                    </div>
                    <!-- /aside Widget -->
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Thương hiệu</h3>
                        <div class="checkbox-filter">
                            @foreach (var brand in ViewBag.Brands)
                            {
                                var selectedBrands = ((string[])ViewBag.SelectedBrands).ToList();
                                <div class="input-checkbox">
                                    <input type="checkbox" name="selectedBrands" value="@brand"
                                           id="brand-@brand"
                                           @(selectedBrands.Contains(brand) ? "checked" : "") />
                                    <label for="brand-@brand">
                                        <span></span>
                                        @brand
                                        <small>23</small>
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- /aside Widget -->

                    <input class="input" type="hidden" name="query" value="@ViewBag.Query" placeholder="Tìm kiếm ở đây" />
                    <button style="
                        margin: 10px 0 20px 0;
                        cursor: pointer;
                        height: 40px;
                        width: 100%;
                        background: #D10024;
                        color: #FFF;
                        font-weight: 700;
                        border: none;">
                        Lọc sản phẩm
                    </button>
                </form>

                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Bán chạy nhất</h3>
                    @foreach (var product in ViewBag.BestSellingProducts as IEnumerable<BTL_TMDT.Models.Product>)
                    {
                        @Html.Partial("_ProductWidget", product)
                    }
                </div>
                <!-- /aside Widget -->
            </div>



            <!-- /ASIDE -->
            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                <div class="store-filter clearfix">
                    <div class="store-sort">
                        <label>
                            Sắp xếp theo:
                            <select class="input-select">
                                <option value="0">Phổ biến nhất</option>
                                <option value="1">Vị trí</option>
                            </select>
                        </label>

                        <label>
                            Show:
                            <select class="input-select">
                                <option value="0">6</option>
                                <option value="1">9</option>
                            </select>
                        </label>
                    </div>
                    <ul class="store-grid">
                        <li class="active"><i class="fa fa-th"></i></li>
                        <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                    </ul>
                </div>
                <!-- /store top filter -->
                <!-- store products -->
                <div class="row">
                    <!-- product -->
                    @foreach (var product in Model)
                    {
                        <div class="col-md-4 col-xs-6">
                            @Html.Partial("_Product", product)
                        </div>
                    }
                    <!-- /product -->
                </div>
                <!-- /store products -->
                <!-- store bottom filter -->
                <div class="store-filter clearfix">

                    <span class="store-qty">Hiển thị 6-9 sản phẩm</span>
                    <ul class="store-pagination">
                        <li class="active"><a href="@Url.Action("Search", "Product", new { query = ViewBag.Query, minPrice =ViewBag.MinPrice, maxPrice = ViewBag.MaxPrice, page = 1 })">1</a></li>
                        <li><a href="@Url.Action("Search", "Product", new { query = ViewBag.Query, minPrice =ViewBag.MinPrice, maxPrice = ViewBag.MaxPrice, page = 2 })">2</a></li>
                        <li><a href="@Url.Action("Search", "Product", new { query = ViewBag.Query, minPrice =ViewBag.MinPrice, maxPrice = ViewBag.MaxPrice, page = 3 })">3</a></li>
                        <li><a href="@Url.Action("Search", "Product", new { query = ViewBag.Query, minPrice =ViewBag.MinPrice, maxPrice = ViewBag.MaxPrice, page = 4 })">4</a></li>
                        <li><a href="@Url.Action("Search", "Product", new { query = ViewBag.Query, minPrice =ViewBag.MinPrice, maxPrice = ViewBag.MaxPrice, page = (ViewBag.CurrentPage + 1) })"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->