
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!-- Importing Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- Bootstrap -->
<link type="text/css" rel="stylesheet" href="~/wwwroot/css/bootstrap.min.css" />

<!-- Importing Font Awesome CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


@model IEnumerable<BTL_TMDT.Models.Cart>
@{
    ViewBag.Title = "Giỏ hàng của bạn";
}

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row w-100">
            <div class="col-lg-12 col-md-12 col-12">
                <h3 class="display-5 mb-2 text-center">Giỏ hàng của bạn</h3>
                @if (Model != null && Model.Any())
                {
                    <p class="mb-5 text-center">
                        <i class="text-info font-weight-bold">3</i> sản phẩm trong giỏ hàng
                    </p>
                    <table id="shoppingCart" class="table table-condensed table-responsive">
                        <thead>
                            <tr>
                                <th style="width:60%">Sản phẩm</th>
                                <th style="width:10%">Giá</th>
                                <th style="width:10%; text-align: center;">Số lượng</th>
                                <th style="width:10%">Tổng</th>
                                <th style="width:16%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td data-th="Product">
                                        <div class="row">
                                            <div class="col-md-3 text-left">
                                                @{ var imageList = item.Product.Product_Images.ToList(); }
                                                <img src="~/wwwroot/img/@imageList[0].image_url" alt=""
                                                     class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                            </div>
                                            <div class="col-md-9 text-left mt-sm-2">
                                                <h4>@item.Product.product_name</h4>
                                                <p class="font-weight-light">@item.Product.Category.category_name</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-th="Price">@String.Format("{0:C}", item.Product.discount_price)</td>
                                    <td data-th="Quantity">
                                        <input type="number" class="form-control form-control-lg text-center" value="@item.quantity" max="@item.Product.stock">
                                    </td>
                                    <td data-th="Total">@String.Format("{0:C}", item.quantity * item.Product.discount_price)</td>
                                    <td class="actions" data-th="">
                                        <div class="text-right">
                                            @using (Html.BeginForm("Remove", "Cart", FormMethod.Post))
                                            {
                                                <input type="hidden" name="cartId" value="@item.cart_id" />
                                                @*<input  value="Remove" class="btn btn-danger" />*@
                                                <button type="submit" class="btn btn-white border-secondary bg-white btn-md mb-2">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="float-right text-right">
                        <h4>Tổng cộng:</h4>
                        <h1>@String.Format("{0:C}", Model.Sum(x => x.Product.discount_price * x.quantity))</h1>
                    </div>
                }
                else
                {
                    <p>Giỏ hàng trống.</p>
                }
            </div>
        </div>
        <div class="row mt-4 d-flex align-items-center">
            <div class="col-sm-6 order-md-2 text-right">
                <a href="@Url.Action("Purchase", "Cart")" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Đặt hàng</a>
            </div>
            <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                <a href="@Url.Action("Index", "Home")">
                    <i class="fas fa-arrow-left mr-2"></i> Tiếp tục mua hàng
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Importing jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<!-- Importing Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Importing Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
